{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Страница обратной связи {% endblock %}

{% block content %}
        <div class="row">
            <div class="text-center" style="margin-top:30px;">
                    <h1 >Страница обратной связи</h1>
            <form method="post" class="contact_form">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value = "Отправить">
            </form>
            </div>

        </div>
{% endblock %}
