{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %} Изменение пароля{% endblock %}


{% block content %}
        <div class="row">
            <div class="text-center" style="margin-top:30px;">
                    <h1 > Изменение пароля аккаунта </h1>
                    <form method="post" class="contact-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class='btn btn-success' type="submit" value="Обновить">
                        <a class='btn btn-warning' href="{% url 'profile' %}">Отмена</a>
                    </form>
            </div>
        </div>
{% endblock %}
