{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %} {{ request.user.username }} - профиль{% endblock %}
{% block sidebar %} {% include 'users/user_panel.html' %} {% endblock %}

{% block content %}
<div class="row">
    <div class="text-center" style="margin-top:30px;">
        <h2>Профиль пользователя {{ request.user.username }}</h2>
        <br>
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ request.user.account.account_image.url }}" alt="{{ request.user.username }}"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4> {{ request.user.username }}</h4>
                                <p class="text-secondary mb-1"> {% if request.user.is_staff %} Автор {% endif %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <img src="{% static 'main/img/vk.png' %}" style="height:24px; width:auto;">
                                VK
                            </h6>
                            <span class="text-secondary">{{ request.user.account.vk }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="feather feather-instagram mr-2 icon-inline text-danger">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>
                                Instagram
                            </h6>
                            <span class="text-secondary">{{ request.user.account.instagram }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <img src="{% static 'main/img/telegram.png' %}" style="height:24px; width:auto;">
                                Telegram
                            </h6>
                            <span class="text-secondary">{{ request.user.account.telegram }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ request.user.username }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ request.user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ request.user.account.phone }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                                {{ request.user.account.address }}
                        </div>
                    </div>
                    <hr>

                    <div class="text-center">
                        <a class="btn btn-outline-primary" style="margin-bottom:15px;"
                           href="{% url 'profile_update' %}">Edit</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}
