{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Главная страница {% endblock %}

{% block content %}
        <div class="row">
            <div class="text-center" style="margin-top:30px;">
                    <h1 >Главная страница</h1>
            </div>

             <div class="single_news">
                <div class="p-4 p-md-5 text-white rounded bg-dark" >
                        <div class="col-md-6 px-0">
                          <h1 class="display-4 fst-italic"> {{ article.title }}</h1>
                          <p class="lead my-3">{{ article.anouncement }}</p>
                          <p class="lead mb-0"><a href="{{ article.get_absolute_url }}" class="text-white fw-bold">Полный текст...</a></p>
                        </div>
                  </div>
            </div>
        </div>
{% endblock %}
