{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Главная страница {% endblock %}

{% block content %}


        <div class="row">
                <div class="content_center">
                    <h1> Фильтр по автору: </h1>
                    <div class="form-group col-8">
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                 <select class="form-select" name="author_filter" style="width:40%">
                                      <option value="0">Все авторы</option>
                                      {% for author in author_list %}
                                          <option value="{{ author.id }}" {% if selected == author.id %} selected {% endif %}> {{ author.username }}</option>
                                      {% endfor %}
                                 </select>
                                 <span class="input-group-btn">
                                     <input type="submit" class="btn btn-success" value="Применить" style="margin: 0 15px">
                                 </span>
                            </div>
                        </form>
                    </div>
                </div>
                {% for article in articles %}
                    <div class="single_news">
                        <div class="p-4 p-md-5 text-white rounded bg-dark" >
                                <div class="col-md-6 px-0">
                                  <h1 class="display-4 fst-italic"> {{ article.title }}</h1>
                                  <p class="lead my-3">{{ article.anouncement }}</p>
                                  <p class="lead my-3">Автор: {{ article.author }}</p>
                                  <p class="lead mb-0"><a href="/news/{{ article.pk }}/" class="text-white fw-bold">Полный текст...</a></p>
                                </div>
                        </div>
                    </div>
                {% endfor %}


        </div>
{% endblock %}
