{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Главная страница {% endblock %}

{% block content %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
  $(function() {
    $("#search_input").autocomplete({
      source: "search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>


<div class="content_center">
    <div class="row">
        <div class="search">
            <label for="search_input">Поиск: </label>
            <input id="search_input">
            <button class="btn btn-primary"> Найти</button>
        </div>
    </div>

    <div class="row">
        <label><h1> Фильтры: (Всего :{{ articles|length }} результатов) </h1>
            <form method="post">
                {% csrf_token %}
                        <div class="form-group col-11">
                            <select class="form-select" name="author_filter" style="width:40%">
                                <option value="0">Все авторы</option>
                                {% for author in author_list %}
                                <option value="{{ author.id }}" {% if selected_author == author.id %} selected {% endif %}> {{ author.username }}
                                </option>
                                {% endfor %}
                            </select>
                            <select class="form-select" name="category_filter" style="width:40%">
                                <option value="0">Все категории</option>
                                {% for c in categories %}
                                <option value="{{ forloop.counter }}" {% if selected_category == forloop.counter %} selected {% endif %}> {{ c.1 }}
                                </option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-success" value="Применить">
                        </div>
            </form>
        </label>
    </div>


    <div class="row">
        {% for article in articles %}
            <div class="single_news">
            <div class="p-4 p-md-5 text-white rounded bg-dark">
                <div class="row">
                    <div class="col-md-{% if article.image_set.all %}6{% else %}12 {% endif %} px-0">
                        <h1 class="display-4 fst-italic"> {{ article.title }}</h1>
                        <p class="lead my-3">{{ article.anouncement }}</p>
                        <p class="lead mb-0"><a href="{% url 'news_detail' article.pk %}" class="text-white fw-bold">Полный текст...
                        </a>
                        </p>
                    </div>
                    {% if article.image_set.all %}
                    <div class="col-md-6 px-0">
                        <img src="{{ article.image_set.all.0.image.url }}"
                             style="width:100%; height:auto; border-radius:5px;">
                        <br>
                        <br>
                        <img src="{{ article.image_set.all.1.image.url }}"
                             style="width:100%; height:auto; border-radius:5px;">
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
