{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
<!--скрипты ниже для работы выпадающего меню пользователя-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


<!--Сделано на основе примеров боковых меню с этой страницы: https://getbootstrap.com/docs/5.0/examples/sidebars/#-->


    <aside>

        <!--    Подробнее про flex-классы: https://bootstrap-4.ru/docs/4.0/utilities/flex/-->
<!--            d-none d-lg-block | Такой класс позвоялет спрятать элементы при отображении на экранах размером меньше lg-->
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <img  src="{% static 'main' %}/img/News_icon.png" width="40" height="50">
              <span class="fs-5 d-none d-lg-block responsive-title">Новости нашего города</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                  <a href="{% url 'home' %}" {% if request.path == '/' %} class="link-active" aria-current="page" {% endif %}>
                      <i class="fa fa-house menu-icon {% if request.path  == '/' %} link-active {% endif %}" ></i>
                      <div class="d-none d-lg-block">Главная</div>
                  </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'news_index' %}" {% if request.resolver_match.view_name == 'news_index' %} class="link-active" aria-current="page" {% endif %}>
                    <i class="fa fa-bars menu-icon"></i> <div class="d-none d-lg-block">Все новости</div>
                </a>
              </li>
                <li class="nav-item">
                  <a href="/examples/" {% if request.path  == '/examples/' %} class="link-active" aria-current="page" {% endif %}>
                        <i class="fa fa-hand menu-icon"></i>  <div class="d-none d-lg-block"> Примеры с урока</div>
                    </a>
              </li>
            <li>
                <a href="/home/" {% if request.path  == '/home/' %} class="link-active" aria-current="page" {% endif %}>
                    <i class="fa fa-backward menu-icon""></i>  <div class="d-none d-lg-block">Адаптированный шаблон </div>
                </a>
              </li>
              <li>
                <a href="#" {% if request.path  == '/search/' %} class="link-active" aria-current="page" {% endif %}>
                    <i class="fa fa-magnifying-glass menu-icon"></i>   <div class="d-none d-lg-block"> Поиск</div>

                </a>
              </li>
              <li>
                <a href="#" {% if request.path  == '/myarticles/' %} class="link-active" aria-current="page" {% endif %}>
                    <i class="fa fa-pen-nib menu-icon"></i>  <div class="d-none d-lg-block"> Мои статьи</div>
                </a>
              </li>
              <li>
                <a href="#" {% if request.path  == '/about/' %} class="link-active" aria-current="page" {% endif %}>
                  <i class="fa fa-handshake menu-icon"></i>  <div class="d-none d-lg-block"> О сайте</div>
                </a>
              </li>
            </ul>
            <hr>


            <div class="dropdown" >
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background:#212529;">
                <img src="{% static 'main' %}/img/default.jpg" alt="" width="25" height="25" class="rounded-circle me-2">
                  <div class="d-none d-lg-block">Демо-пользователь</div>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#"> Создать статью</a></li>
                <li><a class="dropdown-item" href="#"> Мой аккаунт</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"> Выход</a></li>
              </ul>
            </div>

    </aside>
